
:root{
--lightRed: #e50914
}

header{
background: unset;
padding: unset;
}

.download_app{
    background-color: var(--lightRed);
    font-style: italic;
    font-weight: bold;
    font-size: 13px;
    text-align: center;
    padding: 12px 0;
}

.account_search{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 3%;
}

.user_nav{
display: flex;
justify-content: space-between;
align-items: center;
background-color: black;
padding: 0 1.5%;

}
.user_navigation{
    justify-content: flex-start;
   
}
.user-icon{
    display: inline-block;
    border-radius: 50%;
    background-color: black;
    padding: 3px 5px;
    margin-left: 10px;
}

.navigation_item {
    color: white;
    text-transform: uppercase;
    font-size: 13px;
    background-image: url(../img/down-filled-white\ triangular-arrow.png);
    background-size: 10px 12px;
    background-position-y: 23px;
    transition: 1s;


}
.sub_menu li{
    color: white;
}
.sub_menu{

    background-color: #000000;
}
.navigation_item:hover{
    background-image: url(../img/down-filled-white\ triangular-arrow.png);
}
.Account_settings{

    text-transform: capitalize;
    font-weight: bold;
    display: flex;
    justify-content: space-around;
}
.Account_settings li{
    padding: 10px;
    margin: 0 5px;
font-size: 14px;
}

.home_pages{
    width: 90%;
}

.navigation_item:nth-child(5) {
    position:unset
}

.sub_menu-measure{
    top: 178px;
    z-index: 1;
}
input{
    background-color: #000000;
    border: none;
    height: 40px;
    padding-left: 15px;
}
.icons_wrapper{
    display: flex;
    align-items: center;
}
::placeholder{
    color: rgba(255, 255, 255, 0.766);
    text-transform: capitalize;
}
.search_wrapper{
    display: flex;
    align-items: center;
    background: black;
    padding: 4px 15px;

}

.prev, .next {
    
    width: 40px;
    height: 40px;
    background-size: 16px;
    border: 2px solid #ffffff5c;
    border-radius: 50%;
}
.movie_item{
    width: 100%;
    height: 100%;
    display: block;
    /* flex-shrink: 0;
    flex-grow: 0; */
    margin: 0;
}

.movie_item img{
    filter: brightness(1);
}

.movie_item:hover img{
    filter: brightness(1);
}

.movie_container{
    padding: 0;
}

.movie_list >.movie_item:hover {
    transform:scale(1);
    border: none;
    z-index:unset

}
.movie_list > .movie_item:first-child:hover,  .movie_list > .movie_item:last-child:hover{
    transform: none}

.movie_item img:hover{
    filter: none;
    transform: none;
}

.dot_list{
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 50%;
    right: 50%;
    transform: translateX(-50%);
    display: flex;
}

.dot{
    display: block;
    width: 10px;
    height: 10px;
    background-color: red;
    border: 1px solid red;
    border-radius: 50px;
    margin: 3px auto;

}

.dot_wrapper{
    display: block;
    margin: 5px;
    cursor: pointer;
    padding: 0px 3px;
    transition: 1s;
    border: 2px solid rgba(255, 0, 0, 0);
    border-radius: 50%;
}

.active, .dot_wrapper:hover{
    border: 2px solid red;
    border-radius: 50%;
    
}

.fade {
    animation-name: fade;
    animation-duration: 2.5s;
  }
  
  @keyframes fade {
    from {opacity: .1} 
    to {opacity: 1}
  }





  .bestSelling_list{
display: flex;
align-items: center;

  }

  .bestSelling-item{
    width: 29.5%;
    height: 18vw;
    flex-shrink: 0;
    margin: 1.5vw;
    position: relative;
  }

  .bestSelling-item img{
    width: 100%;
    height: 100%;

  }
  .bestSelling-item b{
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translate(-50%, 0);
    color: white;
    font-weight: bold;
    font-size: 20px;
    white-space: nowrap;
    text-transform: capitalize;
  }

  .bestSelling h3{

    color: #ffffffed;
    font-size: 30px;
    font-weight: lighter;
    text-align: center;
    margin-bottom: 30px;
    text-transform: capitalize;

  }

  .bestSelling_Categories{
    margin: 7% 10.5%;
   
overflow-x: hidden;

  }
  .bestSelling{
    position: relative;
  }

  .action_btns{
    position: absolute;
    top: 60%;
    transform: translate(0, -60%);
    z-index: 1;
  }


  .left_btn{
    left: 8%;
  }
  .right_btn{

    right: 8%
  }

  .shopping_categories{
    padding: 0 3%;
  }
  .shopping_categories_list{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 700px;
  }
.category_title{
    text-transform: uppercase;
    letter-spacing: 1.2px;
    font-size: 11px;
    font-weight: 700;

}

.shopping_categories_item b{
    font-size: 25px;
    font-weight: lighter;
}
.shopping_categories_item{
    position: relative;
    color: white;
    height: 50%;
    overflow: hidden;
    cursor: pointer;
}
.shopping_categories_item a:last-child{
    color: var(--lightRed);
    text-transform: capitalize;
    font-weight: bold;
    font-size: 13px;
    letter-spacing: 1px;
    margin-top: 20px;
    display: inline-block;
    
}
.category_info{
    position: absolute;
    bottom: 10px;
    left: 20px;
    z-index: 1;
    line-height: 35px;
}

.shopping_item_wrapper{
    display: block;
    background-size: cover;
    background-position: top right;
    width: 100%;
    height: 100%;
    transform: scale(1);
    transform-origin: top right;
transition:all 2s;
 
}
.shopping_categories_item:nth-child(3) {
    flex-basis: 100%;
    
}
.shopping_categories_item:first-child  .shopping_item_wrapper{
    background-image: url(../img/left-1.webp);
}
.shopping_categories_item:nth-child(2) .shopping_item_wrapper{
    background-image: url(../img/left-2.webp);
}
.shopping_categories_item:nth-child(3) .shopping_item_wrapper{
    background-image: url(../img/center-1.webp);
    background-position: 75%;

}

.shopping_categories_item:nth-child(4)  .shopping_item_wrapper{
    background-image: url(../img/right-1.webp);
}
.shopping_categories_item:last-child  .shopping_item_wrapper {
    background-image: url(../img/right-2.webp);
}

.shopping_categories_item:hover .shopping_item_wrapper{
transform: scale(1.2);

}
 
.newestTitle{
    display: flex;
    justify-content: space-between;
    text-transform: capitalize;
    margin: 0 20px;
  
}
.newestTitle h3{
    font-size: 26px;
    font-weight: lighter;
}
.newestTitle a{
    color: var(--lightRed);
    font-weight: bold;
    font-size: 13px;
}

.newestProducts{
color: white;
padding: 8%; 
}
 
.newestProduct__item del{
    color: gray;
    font-weight: bold;
}
.newestProduct__item{
 text-align: center;
 margin: 40px 20px;
 line-height:27px ;
 text-transform: capitalize;
 font-weight: bold;
 position: relative;
 cursor: pointer;
 height: 100%;
width: 30%;

}
.newestProduct_list{
    display: flex;
    justify-content: space-between;
}

.newestProduct__item img{
    width: 100%;
    height: 18vw;
}

.newestProduct__item img:hover {
    transition: 1s;
    filter: brightness(0.7);

}

.newestProduct__item b{
    font-size: 18px;
}

.saleLabel{
    display: block;
    position: absolute;
    top: 5%;
    left: 8%;
    padding: 1px 5px;
    background-color: var(--lightRed);
    color: white;
    text-transform: capitalize;
    font-weight: bold;
    border-radius: 5%;

}

.product_tools{
    align-items: center;
    display: flex;
    justify-content: center;
position: absolute;
padding: 10px;
width: 80%;
bottom: 50%;
left: 50%;
transform: translate(-50%,-50%) scale(0);
background-color: var(--lightRed);
transition: all .7s ease-in-out;
opacity: 0;
}
.newestProduct__item:hover .product_tools{
    transform: translate(-50%,-50%) scale(1);
    opacity: 1;

}
.newestProduct__item:hover  .product_tool {
    transform: rotateY(0deg);
    opacity: 1; 
}
.product_tool{
    opacity: 0;
    transform: rotateY(90deg);
    transition: all 1.5s ease-in-out;
margin: 0 7px;
height: 20px;
}
.product_tool img{

    height:22px
}



.product_tool:nth-child(3) img {
    padding-bottom: 2px;
}

.fullRating::after{
content: "";
background-image: url(../img/rating.png);
background-repeat: no-repeat;
background-size: 100%;
position: absolute;
bottom: 0;
width: 47%;
height: 6%;
left: 50%;
transform: translate(-50%, 0);


}

.fourRating::after{
    content: "";
    background-image: url(../img/fourrating.png);
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
    bottom:0;
    width: 47%;
    height: 6%;
    left: 50%;
    transform: translate(-50%, 0);
    
    }

  .noRating::after{
        content: "";
        background-image: url(../img/norating.png);
        background-repeat: no-repeat;
        background-size: 100%;
        position: absolute;
        bottom: -1px;
        width: 51%;
        height: 6%;
        left: 50%;
        transform: translate(-50%, 0);
        
        }

        .price {

display: inline-block;
padding-bottom:25px;

        }      


        .Marvelcollection{
            display: flex;
            justify-content: space-between;
            padding: 8%; 
            color: white;
            line-height: 38px;
        }


        .Marvelcollection img{
            width: 100%;
            height: 53vw;
          
        }

        .btn {
            background-image: none;
            padding: 12px 15px;
            font-size: 13px;
            letter-spacing: 2px;
            font-weight: bold;
        
        }
        .marvel_item:nth-child(2){
            transform: translateY(-16%);
        }

        .marvel_item h3{
            font-size: 26px;
            font-weight: lighter;
            margin-top: 25px;
            text-transform: capitalize;
        }
        .marvel_item p {
            margin-bottom: 25px;
            color: #ffffffcc;
        
        }

        .productBanner{
            display: flex;
            justify-content: space-between;
            background-image: linear-gradient(to right, rgb(0 0 0 / 0%), rgb(0 0 0 / 18%)), url(../img/Offer.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            padding: 5% 8%; 
            color: white;
        }
        .productBanner > *{
            width: 50%;
        }

        .productBanner b{
            line-height: calc(15px + 3vw);
            margin: 6% 0;
            font-size: calc(21px + 2vw);
            font-weight: lighter;
        
        }
        .productBanner p {
            color: #ffffffcc;
            margin-bottom: 10%;
        }
        .banner_info{
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            padding: 4% 1%;
        }

        .newestProduct__item img{
            width: 100%;
        }

    
        .storeLocations{
        display: flex;
        justify-content: space-between;
        color: white;
        background-color: #191919;

        }
        .storeLocations >*{
            width: 50%;
        }


.location_list{
    padding-left: 5%;
    padding-top: 8.5%;

}
.location_points{
    margin: 8% 0;
    display: flex;
}
.location_point{
    margin-right: 4%;
}
.logo_wrapper{
    text-transform: capitalize;
    font-size: calc(16px + 1vw);
    padding: 10px;
    width: fit-content;
}
.location_points address{
font-style: normal;
font-size: 15px;
margin-top: 20px;   
color: #ffffffcc;    
line-height: 22px;
}
.location_point b{
    font-size: 20px;
    font-weight: lighter;
}
.working_hours{
    font-size: 15px;
    font-style: italic;
    color: var(--lightRed);
    font-weight: bold;
}
  
.location_list p{
    font-size: 18px;

}
.copyright_titles{
    display: flex;
    justify-content: space-between;
    color: white;
    font-size: 13px;

}
.copyright_titles span{
    color: var(--lightRed);
    font-weight: bold;
}
footer{
    padding: 1% 5%;
    color: white;
    margin-top: 6%;
}

input[type=text]:focus{
    outline: none;
    border: 1px solid var(--lightRed);
    transition: 1s;
}

input[type=text]{
    background-color: transparent;
    width: 100%;
    height: 40px;
}
footer .soc_buttons a {
background-color: #292727;
border: none;


}
.footer_nav{
    display: flex;
    justify-content: space-between;
    margin-bottom: 7%;
}
.soc_buttons img{
    margin: 10px 5px;
}
.soc_buttons{
    display: flex;
}
.subscription_info{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.service_title{
    text-transform: uppercase;
}

.contact_list p{
    color:#ffffffcc;
    font-size: 13px;
    letter-spacing: 2px;
    line-height: 35px;

}

.contcat_number{
 display: inline-block;
 color: white;
 font-size: 25px;
 margin-bottom: 15px;
}
.contact_list p a{
    color: var(--lightRed);
}

.contacts_info b{
    display: inline-block;
text-transform: uppercase;
font-weight: lighter;
margin-top: 30%;
font-size: 13px;
    letter-spacing: 2px;
    margin-bottom: 7%;

}
.soc_buttons li{
    margin-right: 7%;
}

.subscription_info > *{
margin-bottom: 25px;
}

.subscription_info .btn{
    margin-bottom: 10px;
    padding: 15px 20px;
}
.subscription_info i{
    color: #ffffffcc; 
}


.subscription_info p{
text-transform: uppercase;
font-size: 13px;
letter-spacing: 1px;
}

.footer_nav-list {

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    color: #ffffffcc; 
    line-height: 35px;
    height: 105px;
    margin-bottom: 10%;
    
}

.arrow_rgt{
    display: inline-block;
    margin-right: 5px;
    transform: scaleY(1.5);
    color: var(--lightRed);
}
.footer_nav-list li:hover{
    color: var(--lightRed);
    transition: 1s;
}
.adit_nav h2{
    margin-bottom: 20px;
}
.payment_lists {
    display: flex;
    flex-wrap: wrap;
    width: 75%;
    line-height: 35px;

}
.payment_lists li{
    margin-right: 15px;
}
.payment_methods p {
    font-size: 13px;
    margin-bottom: 20px;
}
.user-icon svg {

    cursor: pointer;
}

.shopping_cart{
    position:fixed;
    top:0;
    right:0;
  background-color: black;
height: fit-content;
width: 33%;
z-index:3;
padding: 35px;
/* transform: translateX(100%); */
}

.cart-item{
    display: flex;
    position: relative;
    margin-bottom: 20px;
}

.shopping_item_result{
    display: flex;
    justify-content: space-between;
}

.cart-item img{
width: 80px;

}


.item_info{
    position: relative;
    margin-left: 20px;
}

.remove_item{
    position: absolute;
    right: 0;
 text-decoration: underline;
 color: #969393;
 font-weight: bold;
 text-transform: capitalize;
 cursor: pointer;
 transition: 1s;
}

.remove_item:hover{
    color: var(--lightRed);
}
.close_cart{
    position: absolute;
    right: 20px;  
    top: 35px;
    border-radius: 50%;
    background-color: #ffffff4a;
    padding: 5px 7px;
    color: #ff0202;
    transform: scaleY(0.8);
    cursor: pointer;
    transition: 1s;

}
.close_cart:hover{
    color: black;
    background-color: white;
}

.shopping_cart h3:first-of-type{
    font-size: 23px;
    letter-spacing: 1.5px;
    margin-bottom: 60px;

}

.cart-items{
     height: 350px;
     overflow-y: scroll;
     margin-bottom: 15px;
     overflow-x: hidden;
    
}

.cart-items::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}



.item_val{
    font-size: 14px;
    color: var(--lightRed);
    font-weight: bold;
    display: inline-block;
    margin-bottom: 40px;
}
.item_info h4{
    margin-bottom: 10px;
}

.theCounting {
    display: flex;
    align-items: center;
}
.theCounting >* {
    margin-right: 20px;
}

.addLess_tool{
    font-size: 25px;
    cursor: pointer;
    transition: .5s;
}

.addLess_tool:hover{
color: var(--lightRed);
    transform: scale(1.5);
}

.lessen_item {
    padding-bottom: 4px;
}
.item_quantity {
    font-size: 12px;
    font-weight: bold;
}
.edit_tools button{
width: 100%;
margin-bottom: 15px;
}
.edit_tools button:nth-of-type(2){
color: black;
background-color: white;
border-color: white;

}

.shopping_item_result{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 30px;
}

.empty_cart img {
    width: 100%;
}

.empty_cart{
    width: 40%;
    margin: 0 auto;
    text-align: center;
    padding-top: 13%;

}

.empty_cart p {
    font-size: 15px;
    line-height: 20px;
    margin: 30px 0 30px;
    color: #969393;
}

.edit_tools {
    width: 0;
    overflow-x: hidden;
}